/* index.... css */
.top {
    display: flex;
    gap: 20px;

}


.first {
    background-color: aquamarine;

}

.sec {
    background-color: bisque;
}

/* selector css */

.box{
    border: solid 1px black;
}


/* selector css */

.top-01{
    background-color:plum ;
    padding: 10px;
    border: 1px solid blue;
}